<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <title>sulo-support</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/sulo-support/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/static/resources/scripts/prototypePre.js"></script>
    <script src="/static/data/document.js"></script>
    <script src="/static/resources/scripts/prototypePost.js"></script>
    <script src="/static/files/sulo-support/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '/static/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '/static/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '/static/resources/reload.html'; };
    </script>
    </head>
<body>
    <div id="u1" class="ax_default" data-left="0" data-top="0" data-width="1024" data-height="50">
        <div id="u2" class="ax_default" data-left="0" data-top="0" data-width="10" data-height="10">
        <div id="u3" class="ax_default" data-label="灰色背景">
        <div id="u3_state0" class="panel_state" data-label="State1" style="">
            <div id="u3_state0_content" class="panel_state_content">
            </div>
        </div>
        </div>
        </div>
        <div id="u4" class="ax_default _默认样式" data-label="页面标题">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <p><span>download list</span></p>
            </div>
        </div>
        <div id="u5" class="ax_default image">
            <img id="u5_img" class="img " src="/static/images/sulo-support/u14.png"/>
        </div>
            <div id="u6" class="ax_default _文字段落">
                  <div id="u6_div" class=""></div>
                      <div id="u6_text" class="text ">
                        <p><span style="font-size:1.2em">Email : Sulo.Tec@outlook.com</span></p>
                      </div>
                </div>
    </div>
    <form class="ax_default _默认样式">
        <table id="customers">
            <tr>
                <th><p><span>ID</span></p></th>
                <th><p><span>Product</span></p></th>
                <th><p><span>Desc</span></p></th>
                <th><p><span>Download</span></p></th>
            </tr>
            {% for a in result1 %}
                {% for row in a %}
                <tr>
                        <td><p><span>{{ row.product_id }}</span></p></td>
                        <td><p><span>{{ row.name }}</span></p></td>
                        <td><p><span>{{ row.desc }}</span></p></td>
                    <td>
                    {% for b in result2 %}
                        {% for x in b %}
                            {% if x.product_id == row.product_id %}
                                    <p><a id="u9" class="link" href={{x.product_link}}> <span style="color:#0000FF">download</span></a></p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </td>
                   </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </form>
</body>
</html>